docs/n8n-waitlist-workflow.json
{
  "name": "Lift & Eat - Waitlist Processing",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/5 * * * *"
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Every 5 minutes",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://YOUR_PROJECT_ID.supabase.co/rest/v1/waitlist_entries",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "processed_by_n8n",
              "value": "eq.false"
            },
            {
              "name": "order",
              "value": "created_at.asc"
            },
            {
              "name": "limit",
              "value": "50"
            }
          ]
        },
        "options": {}
      },
      "id": "supabase-query",
      "name": "Get Unprocessed Emails",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        460,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-auth",
          "name": "Supabase API Auth"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-emails",
              "leftValue": "={{ $json.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-emails",
      "name": "Has New Emails?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Process each email entry\nconst emails = $input.all();\nconst processedEmails = [];\n\nfor (const item of emails) {\n  if (Array.isArray(item.json)) {\n    // Handle array response from Supabase\n    for (const entry of item.json) {\n      processedEmails.push({\n        id: entry.id,\n        email: entry.email,\n        locale: entry.locale || 'en',\n        source: entry.source || 'unknown',\n        created_at: entry.created_at,\n        ip_address: entry.ip_address,\n        user_agent: entry.user_agent\n      });\n    }\n  } else {\n    // Handle single object\n    processedEmails.push({\n      id: item.json.id,\n      email: item.json.email,\n      locale: item.json.locale || 'en',\n      source: item.json.source || 'unknown',\n      created_at: item.json.created_at,\n      ip_address: item.json.ip_address,\n      user_agent: item.json.user_agent\n    });\n  }\n}\n\nreturn processedEmails.map(email => ({ json: email }));"
      },
      "id": "process-emails",
      "name": "Process Email Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        200
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "resource": "sheet",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "id"
        },
        "columnToMatchOn": "email",
        "valueInputMode": "defineBelow",
        "fieldsUi": {
          "values": [
            {
              "fieldId": "email",
              "fieldValue": "={{ $json.email }}"
            },
            {
              "fieldId": "locale",
              "fieldValue": "={{ $json.locale }}"
            },
            {
              "fieldId": "source",
              "fieldValue": "={{ $json.source }}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $json.created_at }}"
            },
            {
              "fieldId": "ip_address",
              "fieldValue": "={{ $json.ip_address }}"
            },
            {
              "fieldId": "processed_at",
              "fieldValue": "={{ $now }}"
            }
          ]
        },
        "options": {}
      },
      "id": "google-sheets",
      "name": "Save to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        1120,
        100
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-cred",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "noreply@liftandeat.tn",
        "toEmail": "={{ $json.email }}",
        "subject": "=Bienvenue dans la bêta de Lift & Eat! 🎉",
        "emailType": "html",
        "message": "<!DOCTYPE html>\n<html>\n<head>\n    <meta charset=\"utf-8\">\n    <title>Bienvenue chez Lift & Eat</title>\n</head>\n<body style=\"font-family: Arial, sans-serif; line-height: 1.6; color: #333; max-width: 600px; margin: 0 auto; padding: 20px;\">\n    <div style=\"text-align: center; margin-bottom: 30px;\">\n        <h1 style=\"color: #A4C73B; margin-bottom: 10px;\">🎉 Bienvenue chez Lift & Eat!</h1>\n        <p style=\"font-size: 18px; color: #666;\">Merci de rejoindre notre bêta fermée</p>\n    </div>\n    \n    <div style=\"background: #F7FBF1; padding: 20px; border-radius: 10px; margin-bottom: 20px;\">\n        <h2 style=\"color: #A4C73B; margin-top: 0;\">Qu'est-ce qui vous attend ?</h2>\n        <ul style=\"padding-left: 20px;\">\n            <li><strong>🥘 Base INNTA</strong> - Tous les plats tunisiens avec valeurs nutritionnelles précises</li>\n            <li><strong>🤖 IA Personnalisée</strong> - Recommandations adaptées à vos goûts locaux</li>\n            <li><strong>📱 Scanner Intelligent</strong> - Reconnaissance des produits tunisiens</li>\n            <li><strong>📊 Suivi Avancé</strong> - Tableaux de bord pour vos objectifs</li>\n        </ul>\n    </div>\n    \n    <div style=\"background: #fff; border: 2px solid #A4C73B; padding: 20px; border-radius: 10px; margin-bottom: 20px;\">\n        <h3 style=\"color: #A4C73B; margin-top: 0;\">🚀 Prochaines étapes</h3>\n        <p>Vous recevrez bientôt un lien de téléchargement exclusif. En attendant :</p>\n        <ol>\n            <li>Suivez-nous sur nos réseaux sociaux</li>\n            <li>Partagez avec vos proches intéressés par la nutrition</li>\n            <li>Préparez vos objectifs santé !</li>\n        </ol>\n    </div>\n    \n    <div style=\"text-align: center; margin-top: 30px; padding-top: 20px; border-top: 1px solid #eee;\">\n        <p style=\"color: #666; font-size: 14px;\">L'équipe Lift & Eat 🇹🇳</p>\n        <p style=\"color: #999; font-size: 12px;\">Premier app tunisien de nutrition intelligente</p>\n    </div>\n</body>\n</html>",
        "options": {}
      },
      "id": "welcome-email",
      "name": "Send Welcome Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1120,
        200
      ],
      "credentials": {
        "smtp": {
          "id": "smtp-cred",
          "name": "SMTP Credentials"
        }
      }
    },
    {
      "parameters": {
        "url": "https://hooks.slack.com/services/YOUR/SLACK/WEBHOOK",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"text\": \"📧 Nouvelle inscription waitlist Lift & Eat\",\n  \"attachments\": [\n    {\n      \"color\": \"#A4C73B\",\n      \"fields\": [\n        {\n          \"title\": \"Email\",\n          \"value\": \"{{ $json.email }}\",\n          \"short\": true\n        },\n        {\n          \"title\": \"Source\",\n          \"value\": \"{{ $json.source }}\",\n          \"short\": true\n        },\n        {\n          \"title\": \"Langue\",\n          \"value\": \"{{ $json.locale }}\",\n          \"short\": true\n        },\n        {\n          \"title\": \"Date\",\n          \"value\": \"{{ $json.created_at }}\",\n          \"short\": true\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "id": "slack-notification",
      "name": "Notify Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://YOUR_PROJECT_ID.supabase.co/rest/v1/waitlist_entries",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "=eq.{{ $json.id }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"processed_by_n8n\": true,\n  \"processed_at\": \"{{ $now }}\"\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "autodetect"
            }
          }
        }
      },
      "id": "mark-processed",
      "name": "Mark as Processed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1340,
        200
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-auth",
          "name": "Supabase API Auth"
        }
      }
    },
    {
      "parameters": {},
      "id": "no-emails",
      "name": "No New Emails",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        900,
        400
      ]
    }
  ],
  "connections": {
    "Every 5 minutes": {
      "main": [
        [
          {
            "node": "Get Unprocessed Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Unprocessed Emails": {
      "main": [
        [
          {
            "node": "Has New Emails?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has New Emails?": {
      "main": [
        [
          {
            "node": "Process Email Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No New Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Email Data": {
      "main": [
        [
          {
            "node": "Save to Google Sheets",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Welcome Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notify Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Google Sheets": {
      "main": [
        [
          {
            "node": "Mark as Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Welcome Email": {
      "main": [
        [
          {
            "node": "Mark as Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Slack": {
      "main": [
        [
          {
            "node": "Mark as Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "waitlist",
      "name": "waitlist"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}
